@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?13472798');
  src: url('../font/fontello.eot?13472798#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?13472798') format('woff2'),
       url('../font/fontello.woff?13472798') format('woff'),
       url('../font/fontello.ttf?13472798') format('truetype'),
       url('../font/fontello.svg?13472798#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?13472798#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-th-large:before { content: '\e800'; } /* '' */
.icon-th-list:before { content: '\e801'; } /* '' */
.icon-heart-empty:before { content: '\e802'; } /* '' */
.icon-heart:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-search:before { content: '\e805'; } /* '' */
.icon-user:before { content: '\e806'; } /* '' */
.icon-users:before { content: '\e807'; } /* '' */
.icon-camera:before { content: '\e808'; } /* '' */
.icon-picture:before { content: '\e809'; } /* '' */
.icon-videocam:before { content: '\e80a'; } /* '' */
.icon-ok:before { content: '\e80b'; } /* '' */
.icon-ok-circled:before { content: '\e80c'; } /* '' */
.icon-ok-circled2:before { content: '\e80d'; } /* '' */
.icon-cancel:before { content: '\e80e'; } /* '' */
.icon-cancel-circled:before { content: '\e80f'; } /* '' */
.icon-chat:before { content: '\e810'; } /* '' */
.icon-comment:before { content: '\e811'; } /* '' */
.icon-download:before { content: '\e812'; } /* '' */
.icon-upload:before { content: '\e813'; } /* '' */
.icon-folder:before { content: '\e814'; } /* '' */
.icon-folder-open:before { content: '\e815'; } /* '' */
.icon-cog-alt:before { content: '\e816'; } /* '' */
.icon-cog:before { content: '\e817'; } /* '' */
.icon-up-open:before { content: '\e818'; } /* '' */
.icon-right-open:before { content: '\e819'; } /* '' */
.icon-down-open:before { content: '\e81a'; } /* '' */
.icon-right-dir:before { content: '\e81b'; } /* '' */
.icon-left-open:before { content: '\e81c'; } /* '' */
.icon-left-dir:before { content: '\e81d'; } /* '' */
.icon-up-dir:before { content: '\e81e'; } /* '' */
.icon-down-dir:before { content: '\e81f'; } /* '' */
.icon-adjust:before { content: '\e820'; } /* '' */
.icon-scissors:before { content: '\e821'; } /* '' */
.icon-off:before { content: '\e822'; } /* '' */
.icon-user-1:before { content: '\e823'; } /* '' */
.icon-users-1:before { content: '\e824'; } /* '' */
.icon-user-add:before { content: '\e825'; } /* '' */
.icon-cancel-1:before { content: '\e826'; } /* '' */
.icon-check:before { content: '\e827'; } /* '' */
.icon-download-1:before { content: '\e828'; } /* '' */
.icon-upload-1:before { content: '\e829'; } /* '' */
.icon-upload-cloud:before { content: '\e82a'; } /* '' */
.icon-quote:before { content: '\e82b'; } /* '' */
.icon-docs:before { content: '\e82c'; } /* '' */
.icon-adjust-1:before { content: '\e82d'; } /* '' */
.icon-chat-1:before { content: '\e82e'; } /* '' */
.icon-bell:before { content: '\e82f'; } /* '' */
.icon-floppy:before { content: '\e830'; } /* '' */
.icon-megaphone:before { content: '\e831'; } /* '' */
.icon-logout:before { content: '\e832'; } /* '' */
.icon-login:before { content: '\e833'; } /* '' */
.icon-chart-bar:before { content: '\e834'; } /* '' */
.icon-down-big:before { content: '\e835'; } /* '' */
.icon-left-big:before { content: '\e836'; } /* '' */
.icon-right-big:before { content: '\e837'; } /* '' */
.icon-up-big:before { content: '\e838'; } /* '' */
.icon-down-hand:before { content: '\e839'; } /* '' */
.icon-cw:before { content: '\e83a'; } /* '' */
.icon-ccw:before { content: '\e83b'; } /* '' */
.icon-arrows-cw:before { content: '\e83c'; } /* '' */
.icon-up-hand:before { content: '\e83d'; } /* '' */
.icon-left-hand:before { content: '\e83e'; } /* '' */
.icon-right-hand:before { content: '\e83f'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-left-circled:before { content: '\f0a8'; } /* '' */
.icon-right-circled:before { content: '\f0a9'; } /* '' */
.icon-down-circled:before { content: '\f0ab'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-gauge:before { content: '\f0e4'; } /* '' */
.icon-paste:before { content: '\f0ea'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-angle-double-down:before { content: '\f103'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-smile:before { content: '\f118'; } /* '' */
.icon-frown:before { content: '\f119'; } /* '' */
.icon-meh:before { content: '\f11a'; } /* '' */
.icon-doc-inv:before { content: '\f15b'; } /* '' */
.icon-sort-name-up:before { content: '\f15d'; } /* '' */
.icon-sort-name-down:before { content: '\f15e'; } /* '' */
.icon-sort-alt-up:before { content: '\f160'; } /* '' */
.icon-sort-alt-down:before { content: '\f161'; } /* '' */
.icon-sort-number-up:before { content: '\f162'; } /* '' */
.icon-sort-number-down:before { content: '\f163'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-dropbox:before { content: '\f16b'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-tumblr:before { content: '\f173'; } /* '' */
.icon-down:before { content: '\f175'; } /* '' */
.icon-up:before { content: '\f176'; } /* '' */
.icon-left:before { content: '\f177'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-dribbble:before { content: '\f17d'; } /* '' */
.icon-skype:before { content: '\f17e'; } /* '' */
.icon-slack:before { content: '\f198'; } /* '' */
.icon-reddit:before { content: '\f1a1'; } /* '' */
.icon-recycle:before { content: '\f1b8'; } /* '' */
.icon-codeopen:before { content: '\f1cb'; } /* '' */
.icon-git:before { content: '\f1d3'; } /* '' */
.icon-qq:before { content: '\f1d6'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-history:before { content: '\f1da'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-paypal:before { content: '\f1ed'; } /* '' */
.icon-bell-off:before { content: '\f1f6'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-chart-area:before { content: '\f1fe'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-hourglass-o:before { content: '\f250'; } /* '' */
.icon-hourglass-1:before { content: '\f251'; } /* '' */
.icon-hourglass-2:before { content: '\f252'; } /* '' */
.icon-hourglass-3:before { content: '\f253'; } /* '' */
.icon-hourglass:before { content: '\f254'; } /* '' */
.icon-commenting:before { content: '\f27a'; } /* '' */
.icon-hashtag:before { content: '\f292'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-window-maximize:before { content: '\f2d0'; } /* '' */
.icon-window-minimize:before { content: '\f2d1'; } /* '' */
.icon-window-restore:before { content: '\f2d2'; } /* '' */
.icon-window-close:before { content: '\f2d3'; } /* '' */